/* general */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
$roboto: 'Roboto', sans-serif

/* imports */
//@import 'topbar.sass'
//@import 'controlbar.sass'

/* main */
*
	margin: 0
	padding: 0

html, body
	width: 100%
	height: 100%
	font-family: $roboto

/* =============================== WEBPAGE =============================== */

.webpage
	position: relative
	width: 100%
	height: calc(100% - 64px)

	webview
		width: 100%
		height: 100%
